h1 {color: purple; font-size: 50px; font-family: arial; text-align: center;}
h2 {color: red; font-family: arial;}
p {font-family: arial;}
.info {text-align: center;}
.zdroj {color: #A9A9A9;}
.nadpZdroj {color: #A9A9A9;}